@import "tailwindcss";

@theme {
  --color-background: #0B0C00;
  --color-surface: #141500;
  --color-graphite: #1E1F00;
  --color-primary: #BCEB02;
  --color-crimson-dark: #0B0C00;
  --color-accent: #BCEB02;
  --color-success: #10B981;
  --color-error: #EF4444;
  --color-warning: #F59E0B;

  --font-sans: 'Inter', system-ui, sans-serif;
  --font-heading: 'Outfit', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}
